/dts-v1/;
/{
    model = "loongson,generic";
    compatible = "loongson,loongson3";
    #address-cells = <1>;
    #size-cells = <1>;

    aliases {
            serial0 = &cpu_uart0;
    };

    chosen {
            stdout-path = "serial0:230400n8";
            bootargs = "earlycon";
    };

	socclk: socclk {
		compatible = "fixed-clock";
		clock-frequency = <100000000>;
		#clock-cells = <0>;
	};

    memory {
        name = "memory";
        device_type = "memory";
        reg =  <0x00000000  0x08000000>;
    };

	cpuic: interrupt-controller {
	    compatible = "loongson,cpu-interrupt-controller";
        interrupt-controller;
		#interrupt-cells = <1>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x10000000 0x10000000 0x10000000>;

	    // axi_intc_0: interrupt-controller@1fb00000 {
	    // 	#interrupt-cells = <1>;
	    // 	compatible = "xlnx,xps-intc-1.00.a";
	    // 	interrupt-controller;
	    // 	interrupt-parent = <&cpuic>;
	    // 	interrupts = <2>;
	    // 	reg = <0x1fb00000 0x1000>;
	    // 	xlnx,kind-of-intr = <0x1>;
	    // 	xlnx,num-intr-inputs = <0x8>;
	    // };

        cpu_uart0: serial@0x1fe40000 {
		    device_type = "serial";
		    compatible = "ns16550a";
		    reg = <0x1fe40000 0x1000>;
            clock-frequency = <100000000>;
		    reg-offset = <0x0000>;
		    reg-io-width = <1>;
		    reg-shift = <0>;
		    current-speed = <230400>;
		    interrupt-parent = <&cpuic>;
		    interrupts = <2>;
            no-loopback-test;
        };

        mmc0: ocsdc@1fe10000 {
            compatible = "opencores,ocsdc";
            reg = <0x1fe10000 0x64>;
            clocks = <&socclk>;
            interrupt-parent = <&cpuic>;
            interrupts = <3 4>;
        };

        // gmac0: dmfe@0x1ff00000{
        //         compatible = "dmfe";
        //         reg = <0x1ff00000 0x10000>;
        //         interrupt-parent = <&cpuic>;
        //         interrupts = <3>;
        //         interrupt-names = "macirq";
        //         mac-address = [ 64 48 48 48 48 60 ];/* [>mac 64:48:48:48:48:60 <]*/
        //         phy-mode = "rgmii";
        //         bus_id = <0x0>;
        //         phy_addr = <0xffffffff>;
        //         dma-mask = <0xffffffff 0xffffffff>;
        // };

        // nand@0x1fe78000{
        //         #address-cells = <1>;
        //         #size-cells = <1>;
        //         compatible = "ls1a-nand";
        //         reg = <0x1fe78000 0x4000
        //                0x1fd01160 0x0>;
        //         interrupt-parent = <&cpuic>;
        //         interrupts = <4>;
        //         interrupt-names = "nand_irq";
        //         number-of-parts = <0x2>;
        //         partition@0 {
        //                 label = "kernel_partition";
        //                 reg = <0x0000000 0x01400000>;
        //         };
        //         partition@0x01400000 {
        //                 label = "os_partition";
        //                 reg = <0x01400000 0x0>;
        //         };
        // };

    };
};

